In [8]:
# Importar bibliotecas 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# Importar o dataset
df=pd.read_csv("https://raw.githubusercontent.com/jvianna07/popular_datasets/refs/heads/main/calories.csv")
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0